<div class="mt-4">
    <h2 class='text-center mb-3'>User info</h2>
      <table class="table">
    		<tr>
    			<th>name</th>
    			<th><%= current_user.name %></th>
    		</tr>
        <tr>
    			<th>introduction</th>
    			<th><%= current_user.introduction %></th>
    		</tr>
        <tr>
          <th>profileImage</th>
          <th>
            <%= attachment_image_tag(current_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
          </th>
        </tr>
        <tr>
    			<th>email</th>
    			<th><%= current_user.email %></th>
    		</tr>
      </table>
      <div>
        <%= link_to '編集する',edit_user_path(current_user), class: 'btn btn-info' %>
      </div>
</div>
